<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crafty | home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="">
        <nav>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
        </header>
        <main class="home__main">
            <section class="home__main__section--products">
                <article class="home__main__section__article">
                    <img src="/img/img-phone-01.jpg" alt="img-phone-01">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sit optio? Quasi inventore iste consequatur.</p>
                    <a href="">ver más</a>
                </article>
                <article class="home__main__section__article">
                    <img src="/img/img-phone-02.jpg" alt="img-phone-02">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sit optio? Quasi inventore iste consequatur.</p>
                    <a href="">ver más</a>
                </article>
                <article class="home__main__section__article">
                    <img src="/img/img-phone-03.jpg" alt="img-phone-03">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sit optio? Quasi inventore iste consequatur.</p>
                    <a href="">ver más</a>
                </article>
                <article class="home__main__section__article">
                    <img src="/img/img-phone-01.jpg" alt="img-phone-01">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sit optio? Quasi inventore iste consequatur.</p>
                    <a href="">ver más</a>
                </article>
                <article class="home__main__section__article">
                    <img src="/img/img-phone-02.jpg" alt="img-phone-02">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sit optio? Quasi inventore iste consequatur.</p>
                    <a href="">ver más</a>
                </article>
                <article class="home__main__section__article">
                    <img src="/img/img-phone-03.jpg" alt="img-phone-03">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sit optio? Quasi inventore iste consequatur.</p>
                    <a href="">ver más</a>
                </article>
            </section>
                <aside class="home__main__aside">
                    <h3>Tutoriales</h3>
                    <section class="home home__main__aside__section">
                        <article>
                            <img src="/img/aside-01.jpg" alt="">
                            <p>Titulo del tutorial del producto</p>
                        </article>
                        <article>
                            <img src="/img/aside-02.jpg" alt="">
                            <p>Titulo del tutorial del producto</p>
                        </article>
                        <article>
                            <img src="/img/aside-03.jpg" alt="">
                            <p>Titulo del tutorial del producto</p>
                        </article>
                        <article>
                            <img src="/img/aside-04.jpg" alt="">
                            <p>Titulo del tutorial del producto</p>
                        </article>
                        <h2>Publicidad</h2>
                        <section class="home home__main__aside__section">
                            <img src="/img/ad-01.jpg" alt="">
                            <img src="/img/ad-02.jpg" alt="">
                        </section>
                    </section>
                </aside>
        </main>
    </body>
</html>